<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="9094"/>
    <add key="Receive1" value="RCP"/>
    <add key="Send1" value="%01$RC120"/>
    <add key="Receive2" value="WCP"/>
    <add key="Send2" value="%01$WC14"/>
    <add key="Receive3" value="RDD"/>
    <add key="Send3" value="%01$RD020014"/>
    <add key="Receive4" value="WDD"/>
    <add key="Send4" value="%01$WD13"/>
  </appSettings>
</configuration>